*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
*.csv
**/__pycache__/
.env
scrapper/archive_data/
notebook/Jeremie_test_notebook\ .ipynb
notebook/Romain_test_notebook.ipynb
notebook/Deva_test_notebook.ipynb
notebook/Romain*
