*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
*.csv
**/__pycache__/
.env
scrapper/archive_data/
notebooks/Jeremie_test_notebook\ .ipynb
notebooks/Romain_test_notebook.ipynb
notebooks/Romain/*
notebooks/
