notebooks/*
*.pkl
*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
*.csv
**/__pycache__/
.env
scrapper/archive_data/
meteo1/*
my_model/*
model/*
meteo/*
**.ipynb
Bayes_test/*
Best_Bayesian.p
